---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<html>
  <Navigation />
  <h1>{frontmatter.title}</h1>
  <h2>Post author: {frontmatter.author}</h2>
  <p>
    {frontmatter.description}<p>
      <slot />
      <!-- Markdown content is injected here -->
      <!-- ... -->
    </p>
  </p>
  <Footer />
</html>
